:root {
  --bg-gradient: linear-gradient(
    135deg,
    #ffffff 0%,
    #f5f9ff 40%,
    #e3f0ff 70%,
    #d6eaff 100%
  );
  --foreground: #171717;
}

html.dark {
  --bg-gradient: linear-gradient(
    135deg,
    #000000 0%,
    #0a001a 40%,
    #1a0033 70%,
    #2e004d 100%
  );
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--bg-gradient);
  background-size: 400% 400%; /* Makes gradient larger for motion */
  animation: waveGradient 10s ease-in-out infinite; /* Animation loop */
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Animation for wavy gradient */
@keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

.page {
  padding: 5vw; /* responsive padding */
}

.main,
.ctas,
.footer {
  max-width: 100%;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.info-card {
  transition: all 0.3s ease;
  transform-origin: center;
  position: relative;
  height: auto;
}

.info-card:not(:hover) {
  opacity: 1;
  transform: scale(0.97);
}

.info-card:hover {
  transform: scale(1.05);
  opacity: 1;
  z-index: 5;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.info-card .details {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.info-card:hover .details {
  max-height: 60px;
  opacity: 1;
  margin-top: 8px;
}

.tag_text {
  transition: all 0.3s ease;
  transform-origin: center;
  position: relative;
  height: auto;
}
.tag_text:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
.tag_text:not(:hover) {
  opacity: 1;
  transform: scale(0.97);
}
.heading {
  transition: all 0.3s ease;
  transform-origin: center;
  position: relative;
  height: auto;
  border: none;
  border-color: none;
  outline: none;
}
.heading:hover {
  transform: scale(1.1);
  opacity: 1;
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); */
  border: none;
  border-color: none;
  outline: none;
}

.theme_button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme_button:hover {
  width: 40px;
  height: 40px;
}
